[submodule "vendor/www"]
	path = vendor/www
	branch = trunk
	url = https://github.com/AftGangAglay/libwww93
	shallow = true

[submodule "vendor/python"]
	path = vendor/python
	branch = trunk
	url = https://github.com/AftGangAglay/python0.9.1
	shallow = true

[submodule "vendor/sgi-demos97"]
	path = vendor/sgi-demos97
	branch = trunk
	url = https://github.com/AftGangAglay/sgi-demos97
	shallow = true

[submodule "vendor/libtiff"]
	path = vendor/libtiff
	branch = trunk
	url = https://github.com/AftGangAglay/libtiff3.4beta018
	shallow = true

[submodule "vendor/glibc"]
	path = vendor/glibc
	branch = trunk
	url = https://github.com/AftGangAglay/glibc1.03
	shallow = true

[submodule "lib/asys"]
	path = lib/asys
	branch = trunk
	url = https://github.com/AftGangAglay/asys
	shallow = true

[submodule "lib/mil"]
	path = lib/mil
	branch = trunk
	url = https://github.com/AftGangAglay/MirageLayer
	shallow = true
