[submodule "vendor/www"]
	path = vendor/www
	url = https://github.com/Th3T3chn0G1t/libwww93
[submodule "vendor/python"]
	path = vendor/python
	url = https://github.com/Th3T3chn0G1t/python0.9.1
[submodule "vendor/afeirsa"]
	path = vendor/afeirsa
	url = https://github.com/Th3T3chn0G1t/Afeirsa
